footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer ul {
  display: flex;
}
footer .footer ul a {
  color: black;
}

footer .footer div div ul:nth-child(1) li {
  flex-direction: column;
}