footer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: #b051f7;
  background: linear-gradient(0deg,#b051f7 0,#7410be 80%);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer ul {
  display: flex;
}
footer .footer ul a {
  color: black;
}

footer .footer div div ul:nth-child(1) li {
  flex-direction: column;
}